section.text-left
  h3 Se você gosta de
    span.yellow  Programar

  ul
    li.fragment Busque por issues para contribuir
    li.fragment Pergunte se pode ajudar na criação de algo novo
    li.fragment Automatize o processo de instalação
    li.fragment Escreva testes
