section.text-left
  h3
    | Buscas no Github

  ul
    li
      a(href="https://github.com/search?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Abeginner") is:issue is:open label:beginner
    li
      a(href="https://github.com/search?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Aeasy") is:issue is:open label:easy
    li
      a(href="https://github.com/search?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Afirst-timers-only") is:issue is:open label:first-timers-only
    li
      a(href="https://github.com/search?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Agood-first-bug") is:issue is:open label:good-first-bug
