section
  section
    h3 Git e Github para Iniciantes
      span.yellow  FREE
    img.will-img(src="img/curso-free.png", alt="willianjusten.com.br/cursos/")
    a(href="http://bit.ly/git-free") bit.ly/git-free
