section.text-left
  h3 Se você gosta de
    span.yellow  Design

  ul
    li.fragment Crie sites para projetos open source
    li.fragment Ajude a melhorar a usabilidade de algum projeto já existente
    li.fragment Teste, procure por bugs e os reporte
