section.text-left
  h3 Se você gosta de
    span.yellow  Escrever

  ul
    li.fragment Ajude na documentação de um projeto
    li.fragment Escreva tutoriais sobre o projeto
    li.fragment Faça tradução de documentações
