section.text-left
  h3 Se você gosta de
    span.yellow  Eventos

  ul
    li.fragment Ajude a organizar eventos e/ou meetups na sua cidade.
    li.fragment Ajude as pessoas a encontrarem eventos bons e interessantes para elas.
