section.text-left
  h3 Importância do
    span.yellow  Git?

  ul
    li.fragment Mantém o código fonte seguro de perdas
    li.fragment Facilita o controle de histórico
    li.fragment Permite retornar versões anteriores com facilidade
    li.fragment Auxilia o trabalho em equipe
