section.text-left
  h3 Importância do
    span.yellow  Github?

  ul
    li.fragment Um local seguro para compartilhar o código
    li.fragment Incentiva a colaboração
    li.fragment Portfólio Vivo
    li.fragment Muitas outras coisas...
