section.text-left
  h3 O que é o
    span.yellow  Git?

  ul
    li.fragment Sistema de Controle de Versões
    li.fragment Feito para trabalhar em fluxo distribuído
    li.fragment Foi criado pelo Linus Torvalds em 2005
    li.fragment Sistema Open Source
