section.text-left
  h3 O que é o
    span.yellow  Github?

  ul
    li.fragment Sistema hospedagem de código fonte
    li.fragment Possui recursos similares a uma rede social
    li.fragment Foi lançado em 2008
    li.fragment Tem modelo Free e Pago
    li.fragment Conhecido como berço do Open Source
