section
  section
    h4
      | As pessoas estão
      a(href="https://github.com/frontendbr/forum/issues")  discutindo ideias!

    img.will-img(src="img/forum.png", alt="Screenshot do Forum FrontendBR")
