section.text-left
  h3(style="margin-bottom: 80px") Willian Justen / @willianjusten
  ul
    li.fragment
      | Front end Developer na
      a(href="https://toptal.com")  Toptal
    li.fragment
      | Escrevo em
      a(href="https://willianjusten.com.br")  willianjusten.com.br
    li.fragment Tenho 6 cursos lançados na Udemy
    li.fragment Já participei de diversos projetos no Github
