section
  section
    h3 Coloque no Twitter:
    h4
      |"Hey
      span.yellow  @Willian_justen
      | &nbsp;eu vim na
      span.yellow  #pythonvale
      | &nbsp;e quero seu curso de Git na Vida Real."

    img(src="img/udemy-coupon.png", alt="https://www.udemy.com/git-e-github-na-vida-real/?couponCode=PYTHONVALE18")
    p
      | Cupom de desconto:
      span.yellow  PYTHONVALE18
