doctype html
html
  include inc/head
  body
    .reveal
      .slides
        include ../slides/cover
        include ../slides/question
        include ../slides/presentation
        include ../slides/adventure
        include ../slides/falar-git
        include ../slides/magic
        include ../slides/perguntinhas
        include ../slides/name-versions
        include ../slides/no-backup
        include ../slides/undo-things
        include ../slides/share
        include ../slides/cagada
        include ../slides/yes
        include ../slides/problem-solved
        include ../slides/o-que-e-git
        include ../slides/quem-usa-git
        include ../slides/importancia-git
        include ../slides/como-compartilhar
        include ../slides/github
        include ../slides/git-nao-github
        include ../slides/o-que-e-github
        include ../slides/numbers-github
        include ../slides/linus
        include ../slides/masanori
        include ../slides/eu
        include ../slides/nao-so-devs
        include ../slides/facebook
        include ../slides/google
        include ../slides/globo
        include ../slides/nao-so-isso
        include ../slides/pessoal-discutindo
        include ../slides/empresas-contratando
        include ../slides/importancia-github
        include ../slides/curso-git-free
        include ../slides/ja-sei
        include ../slides/code
        include ../slides/como-acho
        include ../slides/nao-sei-programar
        include ../slides/design
        include ../slides/escrever
        include ../slides/eventos
        include ../slides/contribua
        include ../slides/twitter
    include inc/scripts
