doctype html
html
  include inc/head
  body
    .reveal
      .slides
        include ../slides/cover
        include ../slides/question
        include ../slides/presentation
        include ../slides/adventure
        include ../slides/falar-git
        include ../slides/magic
        include ../slides/perguntinhas
        include ../slides/name-versions
        include ../slides/no-backup
        include ../slides/undo-things
        include ../slides/share
        include ../slides/cagada
        include ../slides/yes
        include ../slides/problem-solved
        include ../slides/o-que-e-git
        include ../slides/quem-usa-git
        include ../slides/importancia-git
        include ../slides/curso-git-free
    include inc/scripts
