head
  meta(charset="UTF-8")
  title Git, Github e Open Source
  meta(name="description" content="Por que s達o t達o importantes na vida de um dev?")
  meta(name="author" content="Willian Justen")
  meta(property="og:type" content="website")
  meta(property="og:image" content="img/share-cover.png")
  meta(property="og:description" content="Por que s達o t達o importantes na vida de um dev?")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", type="text/css", href="css/main.css")
  link(rel="stylesheet", type="text/css", href="css/theme.css")
