/*
* Css file to create the generic presentation
*/
@import "vendor/reveal"
/*
* In src/styl/highlight-themes have more awesome highlight-themes !!
*/
@import "highlight-themes/atelier-cave-dark"

.red
  color red

.green
  color green

.small-size
  width: 60%

.text-left
  text-align: left

.yellow
  color: #e7ad52

.will-img
  background: white !important
  border: none !important
  max-height: 500px !important
  margin: 20px auto !important
  display: block
  text-align center

a.white-color
  color: white !important
  &:hover
    color: darken(white, 30%) !important
